<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remotepccontroller">

    <!-- Разрешение на интернет -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Remote PC Controller"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".FullscreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".ProcessesActivity"
            android:exported="true" />
        <activity
            android:name=".CursorActivity"
            android:exported="true" />

        <!-- Новая активити для управления медиа -->


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
